# Ignore everything
*

# But not these files...
!.gitignore
!test.txt

# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*Teller_47_analysis_and_figures.ipynb

######Section 1
!*t47_dem.tif

######Section 2
!*T47_GCPs_extract.csv
!*T47_targets_extract.csv


#######Section 4
!*Nome_climate_data.csv
!*insar_displacements.csv
!*nome_airport_data_all.csv

#######Section 5
!*t47_acc.tif
!*poly_failure_TL47_2018_jcr.shp
!*2018UASExtent.shp

