# Ignore everything
*

# But not these files...
!.gitignore
!test.txt

# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*Del_Vecchio_et_al_v1.ipynb

######Section 1
!*regional_dem.tif
!*regional_slope.tif
!*water_vectors.*
!*zoom_dem.tif
!*zoom_slope.tif
!*target_locs_cleaned.csv
!*insar_pts*
!*avg_disp171819_utm.tif



######Section 2
!*t47_lobe_clip_fig3.tif
!*target_locs_cleaned.csv
!*t47_slope.tif
!*t47_acc.tif
!*t47_radiation.tif


###Section 3
!*CALM_seward.csv
!*nome_airport_data_all.csv


#######Section 4
!*2018UASExtent*
!*TL47_2019_ImageryFootprint*
!*poly_failure_TL47_2018_jcr*
!Teller_47_Data/Teller_47_Data_Shapefiles/2019_Failure_merged_unique*
!*footprint*


#######Section 6
!*subseasonal_all.txt
!Teller_47_Data/Teller_47_Data_dGPS/Target_locations_171819_all_observations.csv

